fastapi
uvicorn
pydantic
python-dotenv

langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-huggingface

faiss-cpu

transformers
huggingface_hub

pypdf

torch